/*body*/
main {
  margin-top: 70px;
  background-color:#80CBC4;
  padding-bottom: 20px;
}
/*main
----------
imgae slideshow*/

.carousel {

  margin: auto;
}
.carousel-inner {
  margin: auto;
}

.carousel-item img{
  margin-left: auto;
  margin-right: auto;
  display:table-cell;
  vertical-align:middle;
  text-align:center
}
.carousel-indicators {
  z-index: 5!important;
}


/*.carousel-inner .item img {
  margin: auto;
  width: 700px;
  height: 320px;
}*/

/*tab slideshow*/
.tab-collection {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
}
.tab-collection:hover .tab-content {
  box-shadow: 6px 6px 15px #BDBDBD;
}
.tab-links-wrap {
  width: 100%;
  background:#E0E0E0;
  border-radius: 5px 5px 0 0;
}
  /*clear fix*/
.tab-links::after {
  display:block;
  clear:both;
  content:'';
}
.tab-links {
  margin-bottom: 0;
  width: 100%;
  background:
}

.tab-links li {
  float: left;
  margin: 5px 5px 0 5px;
}

.tab-links a {
  text-align: center;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  font-size: 20px!important;
  transition:all linear 0.15s;
  color: white;
  background: #00796B;
  padding: 5px 15px;
}
.tab-links a:hover {
  background:#009688;
}

.tab-links li.active a, .tab-links li.active a:hover {
  background:#fff;
  color:#4c4c4c;
  border: 1px solid #9E9E9E;
  border-bottom: none;
}
.tab-links li.active a {
  font-weight: bold;
}
.tab-content {
  padding:15px;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

.tab {
  display: none;
}

.tab .active {
  display: block;
}

/*footer*/
