.movie-info-main {
  margin-top: 20px;
  background: #fff;
  color: #0d0d0d;
  padding: 10px;
}
.movie-poster {
  overflow: hidden;
  display: block;
  position: relative;
  width: 60%;
  margin: auto;
  border-radius: 3px;
  box-shadow: 3px 3px 3px #113C4A;
}
.movie-poster img {
  width: 100%;
  transition: 2s all;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  border-radius: 3px;
}

.movie-poster:hover img {
  -webkit-transform: scale(1.1);
  -webkit-transform-duration: 2s;
  -moz-transform: scale(1.1);
  -moz-transform-duration: 2s;
  transform: scale(1.1);
  transform-duration: 2s;
}
.description h2 {
  text-align: center;
  text-shadow: 3px 3px rgba(228, 186, 186, 0.6);
  margin-bottom: 10px;
}
.description {
  padding: 10px ;
  text-align: justify;
}
.btnGroup {
  margin-top: 10px;
}

/*modal

-----
trailer modal

*/
#trailerModal .modal-header {
  background: rgba(182,0,0,0.8);
}
.video {
  width: 90%;
  margin: auto;
  height: auto;
  max-height: 400px;
}
