/* Global elements */

body {
  font-size: 15px;
  font-style: Verdana, Geneva, sans-serif;

}
img.logo {
  height: 50px;
  width: auto;
}
/*navigation bar*/
header {
  font-size: 18px;
}
.header div {
  display: inline-block;
}
ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}


.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition:         all 0.5s  ease;
  -moz-transition:    all 0.5s  ease;
  -webkit-transition: all 0.5s  ease;
  -o-transition:      all 0.5s  ease;
  -ms-transition:     all 0.5s  ease;
}
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  max-height: auto;
}
.dropdown {
  display: inline-block;
}
/*main
----------
imgae slideshow*/
main {
  margin-top: 90px;
}
.carousel {
  width: 80%;
  margin: auto;
}
.carousel-inner {
  margin: auto;
}
.carousel-inner .item img {
  margin: auto;
  height: 300px;
}

/*footer*/
footer {
  font-size: 13px;
  text-align: center;
}
