/* Global elements */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
img,
section,
summary {
    display: block;
}


body {
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif!important;
}
/*footer*/

footer {
  font-size: 18px;
  text-align: center;
  background-color:#90A4AE;
  color: #ffe6e6;
  padding: 10px 0;

  /*margin-top: 4px;*/
}
footer img {
  height: 24px!important;
  margin: 3px 25px 3px!important;
}
/*main*/
main {
  background-color:#2C2E3E !important;
  padding-bottom: 20px;
  padding-top: 70px;
  text-decoration-color: white;
  color: white;
}
/*nav bar*/

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
img.logo {
  height: 50px;
  width: auto;
}

/*navigation bar*/
header {
  font-size: 18px;
}
nav {
  background-color:#DDDDDD;
}
nav a {
  color: #212121 !important;
}
nav a:hover {
  color: #990000!important;
}
nav li.active {
  background-color: #b30000;
}
nav li.active a {
  color: white !important;
  font-weight: bold;
}

.header div {
  display: inline-block;
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

li:hover {
  cursor: pointer;
}

.navbar{
  margin : 0;
  padding: 0;
  border : none;
  border-radius: 0;
  position: fixed;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.dropdown .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;

  transition:         all 0.5s  ease;
  -moz-transition:    all 0.5s  ease;
  -webkit-transition: all 0.5s  ease;
  -o-transition:      all 0.5s  ease;
  -ms-transition:     all 0.5s  ease;
}
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  max-height: auto;
}
.dropdown {
  display: inline-block;
}

/* modal */

.modalLable {
  text-align: center;
  display: block;
  width: 100%

}
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.modal-content {
  max-width: 600px;
  width: auto;
  margin: auto;
  z-index: 100;
  position: relative;
  background-color: #fefefe;
  border-radius: 5px;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  -moz-animation-name: animatetop;
  -moz-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s;
}
.modal-content, .modal-header, .modal-body, .modal-footer {
  width: inherit;
  padding: 10px;
}
.modal-header {
  background-color: #607D8B;
  margin: 0;
}
.modal-header h3 {
  font-weight:bolder;
  color: white;
}
.modal-content {
  padding: 0;
}
/*animation of modal */
@-webkit-keyframes animatetop {
    from {top:-300px; scale:0; opacity:0}
    to {top:0; scale:1;opacity:1}
}
@-moz-keyframes animatetop {
    from {top:-300px; scale:0.2; opacity:0}
    to {top:0; scale:1; opacity:1}
}

@keyframes animatetop {
    from {top:-300px;scale:0; opacity:0}
    to {top:0; scale:1; opacity:1}
}
/*sign in modal*/
.modal-body {
  padding: 10px;
}

.signinForm input.inputfield {
  width: 100%;
  box-shadow: 1px 1px 1px #CFD8DC;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.signinForm input.inputfield:focus {
  outline: none;
  border: none;
  border-bottom: #EF5350 1px solid;
  width: 100%;
  box-shadow: 0 2px 3px #EF5350;
}
input#showPassword {
  margin: 5px;
}

.submitButton {
  width: 100%;
  display: block;
  border: 1px solid #424242;
  padding: 5px;
  border-radius: 5px;
  background-color: #424242;
  text-align: center;
}
a.submitButton {
  color: #FAFAFA;
}
a.submitButton:hover {
  font-weight: bold;
}
.inputLabel {
  color: black;
  position: relative;
  opacity: 0;
  display: none;
  padding: 0 5px;
}
/*placeholder in sign in form*/
input {
    transition:opacity 1s;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    transition:opacity  1s;
}
input::-moz-placeholder { /* Mozilla Firefox */
    transition:opacity  1s;
}
input:-ms-input-placeholder { /* IE 10+ */
    transition:opacity  1s;
}
input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-input-placeholder {opacity: 0;}
input:focus::input-placeholder {opacity: 0;}
