/*select city */
.choose_city {
  margin: 10px;
  padding: 10px;
}
label {
  font-size: 20px;
}
select {
  margin-left: 20px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  padding: 3px 20px;
  font-size: 18px;
  box-shadow: 1px 1px 1px #9E9E9E;
}
select:focus {
  outline:  #EEEEEE 1px solid;
  border-radius: 5px;
}
option {
  outline: 1px #9E9E9E;
}
option:hover {
  background: #039BE5;
}
/*ticket price field */
.ticket-pricelist {
  width: 80%;
  display: block;
  margin-top: 10px;
  margin: auto;
}
.ticket-tab {
  display: none;
  padding: 10px;
  width: 80%;
  margin: auto;
}
.active {
  display: block;
}
.ticket_tab_item {
  padding: 5px;
  margin: auto;
  animation-name: show;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  -moz-animation-name: show;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-in;
}
.ticket_tab_item img {
  width: 640px;
  height: 360px;

}
/* animation for pricelist*/
@keyframes show {
  from {top:-100px}
  to {top:0}
}
@-moz-keyframes show {
  from {top:-100px}
  to {top:0}
}
